/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.progress-spinner-with-text {
  display: flex;
  align-items: center;
  gap: 10px;
}