.product-card {
  height: 100%;

  &__header {
    &__price {
      text-decoration: line-through;
    }

    &__images {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        width: fit-content;
      }

      &__images {
        display: flex;
      }

      &__overlay {
        padding: 5px
      }
    }
  }
}
