@if (product) {
<mat-toolbar>
  <span>{{ product.title }}</span>

  <span class="spacer"></span>

  @if(showCloseAction()) {
  <button mat-icon-button (click)="handleClose()">
    <mat-icon>close</mat-icon>
  </button>
  }@else {
  <button mat-raised-button color="accent" [routerLink]="['/products']">
    Products
  </button>
  }
</mat-toolbar>

<div class="container">
  <div class="product-details">
    <p class="product-details__description">{{ product.description }}</p>
    <div class="product-details__info">
      <p class="product-details__info-label">Price:</p>
      <p>${{ product.price }}</p>
    </div>
    <div class="product-details__info">
      <p class="product-details__info-label">Discount:</p>
      <p>{{ product.discountPercentage }}%</p>
    </div>
    <div class="product-details__info">
      <p class="product-details__info-label">Rating:</p>
      <p>{{ product.rating }}</p>
    </div>
    <div class="product-details__info">
      <p class="product-details__info-label">Stock:</p>
      <p>{{ product.stock }}</p>
    </div>
    <div class="product-details__info">
      <p class="product-details__info-label">Brand:</p>
      <p>{{ product.brand }}</p>
    </div>
    <div class="product-details__info">
      <p class="product-details__info-label">Category:</p>
      <p>{{ product.category }}</p>
    </div>
  </div>

  <div class="image-gallery">
    <img *ngFor="let image of product.images" [src]="image" alt="Product Image" class="image-gallery__image" />
  </div>
</div>

}